*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
}

.Buttons{
  display: flex;
  gap: 10px;
}

.ButtonHeader{
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
  cursor: pointer;
  transition: 0.8s;
}

.ButtonHeader:hover{
  border-color: #ff0044;
}

#logo-rock{
  width: 40px;
}

#logo-obc{
 width: 200px;
}